In [1]:
#from main import mongo_users
from main import mongo_client

In [23]:
mongo_client.list_database_names()

['Logarithm',
 'admin',
 'config',
 'exampleDB',
 'local',
 'style-creator-bot-DB',
 'task-list-bot-DB']

In [30]:
mongo_db = mongo_client['exampleDB']

mongo_db.list_collection_names()

['random', 'users']

In [28]:
mongo_users = mongo_db['users']
mongo_random = mongo_db['random']

In [31]:
dict = {
    'user_id': 1, 
    'age': 15,
    'name': 'Maria',
    'money': 1500.65,
    'married': False
}

dict2 = {
    'user_id': 2, 
    'age': 50,
    'name': 'Sofia',
}

dict3 = {
    'item_name': 'TV',
    'price': 20000,
    'num': 100,
}

mongo_random.insert_one(dict)
mongo_random.insert_one(dict2)
mongo_random.insert_one(dict3)

InsertOneResult(ObjectId('65f35cf13cd94f93f817e325'), acknowledged=True)

In [32]:
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]

mongo_users.insert_many(mylist)

InsertManyResult([ObjectId('65f35d2f3cd94f93f817e326'), ObjectId('65f35d2f3cd94f93f817e327'), ObjectId('65f35d2f3cd94f93f817e328'), ObjectId('65f35d2f3cd94f93f817e329'), ObjectId('65f35d2f3cd94f93f817e32a'), 8, 9, 10, 11, 12, 13, 14], acknowledged=True)

#### find_one() = SELECT

In [33]:
mongo_users.find_one({"_id":10})

{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}

In [34]:
mongo_users.find_one({"name":"Vicky"})

{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}

#### find() = SELECT *

In [35]:
for x in mongo_users.find():
  print(x)

{'_id': ObjectId('65f35d2f3cd94f93f817e326'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('65f35d2f3cd94f93f817e327'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('65f35d2f3cd94f93f817e328'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('65f35d2f3cd94f93f817e329'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('65f35d2f3cd94f93f817e32a'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [10]:
for x in mongo_users.find({},{ "_id": 0, "name": 1, "address": 1 }):
  print(x)

{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}

Нельзя указывать значения 0 и 1 в одном и том же объекте (за исключением случаев, когда одно из полей является полем _id). Если вы укажете поле со значением 0, все остальные поля получат значение 1, и наоборот:

In [11]:
for x in mongo_users.find({},{ "address": 0, "name": 0 }):
  print(x)

{'_id': ObjectId('65f346073cd94f93f817e309')}
{'_id': ObjectId('65f346073cd94f93f817e30a')}
{'_id': ObjectId('65f346073cd94f93f817e30b')}
{'_id': ObjectId('65f346073cd94f93f817e30c')}
{'_id': ObjectId('65f346073cd94f93f817e30d')}
{'_id': 8}
{'_id': 9}
{'_id': 10}
{'_id': 11}
{'_id': 12}
{'_id': 13}
{'_id': 14}

Для создания расширенных запросов вы можете использовать модификаторы в качестве значений в объекте запроса. Например. чтобы найти документы, в которых поле «адрес» начинается с буквы «S» или выше (в алфавитном порядке), используйте модификатор «больше чем»: {"$gt": "S"}:

In [36]:
myquery = { "address": { "$gt": "S" } }

mydoc = mongo_users.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('65f35d2f3cd94f93f817e328'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

Вы также можете использовать регулярные выражения в качестве модификатора. 

Регулярные выражения можно использовать только для запроса строк. 

Чтобы найти только те документы, у которых поле «адрес» начинается с буквы «S», используйте регулярное выражение {"$regex": "^S"}:

In [37]:
myquery = { "address": { "$regex": "^S" } }

mydoc = mongo_users.find(myquery)

for x in mydoc:
  print(x)

{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

### Sort

In [38]:
mydoc = mongo_users.find({},{ "_id": 0, "name": 1, "address": 1 }).sort("name")
for x in mydoc:
  print(x)

{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'William', 'address': 'Central st 954'}

In [15]:
mydoc = mongo_users.find({},{ "_id": 0, "name": 1, "address": 1 }).sort("name", -1)
for x in mydoc:
  print(x)

{'name': 'William', 'address': 'Central st 954'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'Amy', 'address': 'Apple st 652'}

### Update

In [39]:
myquery = { "address": "Apple st 652" }
newvalues = { "$set": { "address": "Canyon 123" } }

mongo_users.update_one(myquery, newvalues)

mydoc = mongo_users.find({},{ "_id": 0, "name": 1, "address": 1 }).sort("name", -1)
for x in mydoc:
  print(x)

{'name': 'William', 'address': 'Central st 954'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'Amy', 'address': 'Canyon 123'}

In [40]:
myquery = { "address": { "$regex": "^S" } }
newvalues = { "$set": { "name": "Minnie" } }

mongo_users.update_many(myquery, newvalues)

mydoc = mongo_users.find({},{ "_id": 0, "name": 1, "address": 1 }).sort("name", -1)
for x in mydoc:
  print(x)

{'name': 'William', 'address': 'Central st 954'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Minnie', 'address': 'Sky st 331'}
{'name': 'Minnie', 'address': 'Sideway 1633'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'Amy', 'address': 'Canyon 123'}

### Delete

In [41]:
myquery = { "address": "Mountain 21" }

mongo_users.delete_one(myquery)

DeleteResult({'n': 1, 'ok': 1.0}, acknowledged=True)

In [42]:
myquery = { "address": {"$regex": "^S"} }

mongo_users.delete_many(myquery)

mydoc = mongo_users.find({},{ "_id": 0, "name": 1, "address": 1 }).sort("name")
for x in mydoc:
  print(x)

{'name': 'Amy', 'address': 'Canyon 123'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'William', 'address': 'Central st 954'}

In [43]:
mongo_users.delete_many({})

mydoc = mongo_users.find({},{ "_id": 0, "name": 1, "address": 1 }).sort("name")
for x in mydoc:
  print(x)

In [44]:
mongo_users.drop()
mongo_db.list_collection_names()

['random']